[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
[submodule "public"]
	path = public
	url = git@github.com:wannabecoffeenerd/wannabecoffeenerd.github.io.git
	branch = main
